*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #a2bcff
background-color = #faf9f0

/* Outer */
.popup
    width 100%
    height 100%
    display none
    position fixed
    top 0px
    left 0px
    background rgba(0,0,0,0.75)


/* Inner */
.popup-inner
    max-width 700px
    width 90%
    padding 40px
    position absolute
    top 50%
    left 50%
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
    box-shadow 0px 2px 6px rgba(0,0,0,1)
    border-radius 3px
    background #fff


/* Close Button */
.popup-close
    width 30px
    height 30px
    padding-top 4px
    display inline-block
    position absolute
    top 0px
    right 0px
    transition ease 0.25s all
    -webkit-transform translate(50%, -50%)
    transform translate(50%, -50%)
    border-radius 1000px
    background rgba(0,0,0,0.8)
    font-family Arial, Sans-Serif
    font-size 20px
    text-align center
    line-height 100%
    color #fff


.popup-close hover
    -webkit-transform translate(50%, -50%) rotate(180deg)
    transform translate(50%, -50%) rotate(180deg)
    background rgba(0,0,0,1)
    text-decoration none

#loading-div-background
    display none
    position fixed
    top 0
    left 0
    background #fff
    width 100%
    height 100%


#loading-div
    width 300px
    height 150px
    background-color #fff
    border 5px solid #1468b3
    text-align center
    color #202020
    position absolute
    left 50%
    top 50%
    margin-left -150px
    margin-top -100px
    -webkit-border-radius 5px
    -moz-border-radius 5px
    border-radius 5px
